body,html {
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding: 0;
  background-color:#FFF;
}

#title {
  width:100%;
  text-align: center;
  font-size: 40px;
  margin: 40px 0px;
}

textarea {
  resize: none;
  width: 400px;
  height:250px;
  border:none;
  border-bottom: 3px solid rgb(16,108,200);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

textarea::-webkit-input-placeholder::after {
    content: "\A Each item seperated by a new line \A Ex. \A \A Cat \A Dog \A Elephant";
}

.container{
  text-align: center
}

button[name=next], .choice, .same {
  background: rgb(16,108,200);
  color:rgba(255,255,255,0.87);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 2px 6px 3px;
  border-radius: 3px;
  width:200px;
  height:50px;
  border: none;
  font-size: 20px;
  margin: 30px;
}

.same {
  width:460px;
}

.results {
  width:400px;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.result {
  display: flex;
  border-bottom: 1px solid #F5F5F5;
}

.result span{
  display: inline-block;
  width:200px;
  padding:10px 30px;
}

.result span:first-child{
  border-right: 1px solid #F5F5F5;
}

.results .result:last-child{
  border-bottom: 3px solid rgb(16,108,200);

}

#links {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
